{% extends "_base.html" %}
{% block navcontent %}
  <li><a href="{% url 'recipes:front:index' %}" class="active">Recipes</a></li>
  <li><a href="{% url 'profiles:front:index' %}">Chefs</a></li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span-col-12">
    {% for ingredient in ingredients %}
    <a href="{% url 'recipes:front:detail' b64id=ingredient.b64id  slug=ingredient.slug %}">
      {{ ingredient.name }}
    </a>
  {% endfor %}
  </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}
