{% extends "_base.html" %}
{% block navcontent %}
  <li><a href="{% url 'recipes:front:index' %}" class="active">Recipes</a></li>
  <li><a href="{% url 'profiles:front:index' %}">Chefs</a></li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span-col-12">
    {% for ingredient in ingredients %}
    {# <a href="{% url 'profiles:front:detail' b36id=bp.b36id %}"> #}
      {{ ingredient.name }}
      {# <img src="{{ recipe.photo.url }}" alt="{{ recipe.title }}" /> #}
    {# </a> #}
  {% endfor %}
  </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}
