{% extends "_base.html" %}
{% block navcontent %}
  <li><a href="{% url 'blog:front:index' %}" class="active">Blog</a></li>
  <li><a href="{% url 'recipes:front:index' %}">Recipes</a></li>
  <li><a href="{% url 'profiles:front:index' %}">Chefs</a></li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span-col-12">
    <div class="messages" ng-controller="BlogCtrl as blog" ng-cloak>
      {{ blog.wsData }}
    </div>
  </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}
