{% extends "_base.html" %}
{% block navcontent %}
  <li><a href="{% url 'blog:front:index' %}" class="active">Blog</a></li>
  <li><a href="{% url 'recipes:front:index' %}">Recipes</a></li>
  <li><a href="{% url 'profiles:front:index' %}">Chefs</a></li>
{% endblock %}

{% block content %}
{% verbatim %}
<div class="row">
  <div class="span-col-12">
    <div class="messages" ng-controller="BlogCtrl as blog" ng-cloak>
    <ul>
      <li ng-repeat="log in blog.logs">
        {{ log.content }}
        {{ log|json }}
      </li>
    </ul>

      <textarea name="msg" id="" cols="30" rows="10" ng-model="blog.msg">
      </textarea>
      <button class="btn btn-info" ng-click="blog.sendClicked()">
        Send Message
      </button>
    </div>
  </div>
</div>
{% endverbatim %}
{% endblock %}

{% block js %}

{% endblock %}
